<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSGithub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AD8592B1BA1696C00EBD42A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD8593F1BA1696D00EBD42A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD8594A1BA1696E00EBD42A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
